<!--
Created By Ethan Johnston for CMP 621A
Category
-->
<!-- Adding the header to this html file -->
{% extends 'main/header.html' %}
<!-- Loading the static file -->
{% load static %}
<!-- Making the title of the card bold -->
{% block styles %}

		.card-title {
		font-weight: bold !important;
		}
	
{% endblock %}
{% block content %}
<!-- Showing the manufacturers that correspond to the type of vehicle selected and showing the information regarding the manufacturer -->
    <div class="row">
        {% for man, partone in part_ones.items %}

            <div class="col s12 m6 l4">
                <a href="{{partone}}", style="color:#000">
                    <div class="card hoverable">
                        <div class="card-content">
                            <div class="card-title">{{man.car_manufacturer}}</div>
                            <p>{{man.manufacturer_summary}}</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
